* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

html, body {
    font-family: 'Myriad Pro';
}

/* Fonts */

@font-face {
    font-family: 'Myriad Pro';
    src: url(../fonts/MyriadPro-Regular.otf);
}

/* Header */

.header {
    background-color: #39291e;
    padding: 50px 0 50px 65px;
}
.header h1 {
    font-size: 30px;
    color: #ffbf67;
}
.main {
    background-color: #eee7dd;
    height: 100vh;
    padding: 120px 20px 0 20px;
}
.main__text h4 {
    font-size: 30px;
    color: #211a11;
    margin-bottom: 40px;
}
.main__text p {
    color: #625441;
    font-size: 24px;
    padding-bottom: 85px;
}
.container {
    margin: 0 auto;
    max-width: 940px;
}

/* Media */

@media (max-width: 700px) {
    .main {
        height: auto;
    }
}

@media (max-width: 400px) {
    .main {
        padding: 80px 20px 0 20px;
    }
    .main__text p {
        font-size: 22px;
    }
}